# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/.vs/apihook/v14/.suo
*.db
*.opendb
build/bin/Debug/config.xml
*.ipch
*.log
*.tlog
*.idb
*.tlb
*.pdb
Source/Engine/DeviareCOM/DeviareCOM_i.c
Source/Engine/DeviareCOM/DeviareCOM_i.h
Source/Engine/DeviareCOM/DeviareCOM_p.c
build/bin/Debug/ctest.hooks.xml
*.tlb
/Source/Engine/DeviareCOM/DeviareCOM64_i.h
/Source/Engine/DeviareCOM/DeviareCOM64_p.c
/Source/Engine/DeviareCOM/DeviareCOM64_i.c
*.xml
*.ilk
*.exp
/build/obj
Source/Engine/DeviareCOM/DeviareCOM64_i.c
Source/Engine/DeviareCOM/DeviareCOM64_i.h
Source/Engine/DeviareCOM/DeviareCOM64_p.c
Source/Engine/SpyMgr/Asm/Injector_x64.inl
Source/Engine/SpyMgr/Asm/Injector_x86.inl
